.container_history {
  position: relative;
  padding: 5px 0;
  width: 90%;
  background-color: #7fffd4;
  border-radius: 10px;

  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media all and (max-width: 560px) {
  .card {
    width: 100%;
    flex-wrap: wrap;
  }
}
@media all and (max-width: 768px) {
  .container_history {
    flex-direction: column;
  }
  .card {
    width: 50%;
    flex-wrap: wrap;
  }
}
