.MainContain {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}
.MainContain__L {
  width: 40%;
  margin-left: 2%;
  border: 3px solid #b4b4f5;
  padding: 2%;
}
.MainContain__Right {
  width: 54%;
  margin-left: 3%;
}
.MainContain__Right {
  display: flex;

  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  border: 3px solid #b4b4f5;
  padding: 3%;
}
.MainContain__Right__item {
  width: 45%;

  background: linear-gradient(to right, #b4b4f5, blue, #b4b4f5);
  border-radius: 10%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.MainContain__Right__item__span {
  font-size: 20px;
  color: white;
}
