.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.modal.show {
  opacity: 1;
  visibility: visible;
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  max-width: 600px;
  padding: 20px;
  border-radius: 4px;
  position: relative;
  border-radius: 2rem;
}

.btn-modal {
  display: table;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.2rem 3.8rem;
  text-decoration: none;
  border-radius: 9px;
  transition: all 0.3s;

  border: none;
  cursor: pointer;
  font-family: inherit;
  background-color: #e67e22;
  color: #fff;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  font-weight: bolder;
  cursor: pointer;
}

.btn-modal:link,
.btn-modal:visited {
  background-color: #e67e22;
  color: #fff;
}

.btn-modal:hover,
.btn-modal:active {
  background-color: #cf711f;
}

.modal-content {
  text-align: center;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.modal-content.exiting {
  opacity: 0;
  transform: translateX(-100%);
}
