.Wrapper {
  position: relative;
  overflow-x: hidden;
}
.Menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 15%;
  height: 100vh;
  border: 2px solid grey;
  border-radius: 4%;
  transition: 0.5s;
}
.Meny-list {
  height: 65vh;
  display: flex;
  justify-content: space-around;
  align-items: left;
  flex-direction: column;
  background-color: white;
  text-align: left;
}
.Meny-list a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2em; /* Размер текста в относительных единицах */
  color: black;
  border-bottom: 4px solid grey;
  padding-left: 6%;
}

/* @keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animated-link {
  opacity: 0;
}

.animate {
  animation: slideIn 0.5s ease-in-out forwards;
} */
