*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-wrap: break-word;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: "IBM Plex Sans", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: bold;
}

ul,
ol {
  list-style-type: none;
}

button {
  border: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}
.grid-centered--v {
  align-items: center;
}
.grid--2col {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3col {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4col {
  grid-template-columns: repeat(4, 1fr);
}
.grid--5col {
  grid-template-columns: repeat(5, 1fr);
}
.heading-primary,
.heading-secondary,
.heading-teritary {
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
}
.heading-teritary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}
.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  color: #333;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
  text-align: center;
}
.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #cf711f;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
  text-align: center;
}
.btn,
.btn:link,
.btn:visited {
  display: table;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 4.2rem;
  text-decoration: none;
  border-radius: 9px;
  transition: all 0.3s;

  /* Only necessary for .btn */
  border: none;
  cursor: pointer;
  font-family: inherit;
}

.btn--form {
  background-color: #6b6bf3;
  color: #fdf2e9;
  align-self: end;
  padding: 1.2rem;
}

.btn--form:hover {
  background-color: rgb(146, 146, 233);
  color: #fff;
}
.btn--full:link,
.btn--full:visited {
  background-color: #e67e22;
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  background-color: #cf711f;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #555;
}
.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9;
  box-shadow: inset 0 0 0 3px #fff;
}
