.container {
  position: relative;
  padding: 5px 0;
  width: 90%;

  align-items: center;
  margin: 20px auto;
  transition: transform 0.3s ease-in-out;
}

.btn_accept:hover {
  color: black;
}

@media all and (max-width: 560px) {
  .content {
    display: flex;
    flex-wrap: wrap;
  }
  .container {
    flex-wrap: wrap;
  }
}
.content.fly-away {
  transition: 1s;
  transform: translateY(-100%);
}
